body{
    background-color: blueviolet;
}
h1{
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
}
#body{
    display: flex;
    justify-content: center;
}
.container div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container div span {
    color: white;
    height: 70px;
    width: 70px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.container #input{
    border: 2px solid rgb(255, 255, 255);
    height: 100px;
    color: #ffffff;
}
.container #equal{
    border: 2px solid rgb(255, 255, 255);
    height: 30px;
    color: #ffffff;
    cursor: pointer;
}
